
{
    box-shadow: 1px 1px 7px 2px #474747, -1px -1px 7px 3px #474747;
    width: 80%;
    margin: 50px auto;
    height: 500px;
    padding: 30px;
    
}
ul {list-style: none;}

input, select, button, textarea { height: 35px; margin: 10px; padding: 0 20px}
textarea {height: 80px}


li:first-child {font-size: 30px; font-weight: bold; margin-bottom: 30px;}
li:nth-child(3) input {width: 365px;}
li:nth-child(4) input {width: 795px;}
li:nth-child(5) input {width: 223px;}
li:nth-child(6) select {width: 840px;}
li:nth-child(7) textarea {width: 800px;}

li:nth-child(7) label {margin-top: 0;}

button 
{
    width: 100%; 
    margin: 20px auto; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

hr {height: 3px; background-color: black;}
label { float: left; width: 150px;}
